@import '../../variables';

.main-navigation__menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;

    span {
        display: block;
        width: 3rem;
        height: 2.5px;
        background: white;
    }
}

.main-navigation__title {
    color: white;

    a {
        text-decoration: none;
        color: white;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &.active {
            color: $color-apricot;
        }
    }

    img {
        width: 40px;
        margin-right: 8px;
    }
}

.main-navigation__header-nav {
    display: none;
}

.main-navigation__drawer-nav {
    height: 100%;
}

@media (min-width: 768px) {
    .main-navigation__menu-btn {
        display: none;
    }

    .main-navigation__header-nav {
        display: block;
    }
}
