@import '../../variables';

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .nav-item-wrapper {
        margin: 1rem;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        text-decoration: none;
        color: $color-dark;
        font-weight: bold;
        transition: all 0.2s ease-out;
        cursor: pointer;
        user-select: none;

        &:hover,
        &:active,
        &.active {
            color: $color-apricot;

            svg {
                fill: $color-apricot;
                transform: rotate(0deg);
            }
        }

        svg {
            transform: rotate(180deg);
            display: block;
            width: 15px;
            margin: 5px;
            transition: transform 0.3s ease-out;
        }
    }
}

@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;

        .nav-item-wrapper {
            margin: 0 0.5rem;
        }

        .nav-item {
            color: white;
            text-decoration: none;
        }

        svg {
            fill: white;
        }
    }
}
