@import '../../variables';

.filter {
    position: relative;
    margin: 5px 15px;
    font-weight: 600;
    transition: all 0.2s ease-out;
    cursor: pointer;
    user-select: none;

    &:hover,
    &.active {
        color: $color-apricot;

        &.chosen {
            color: $color-coral;
        }

        .arrow-icon {
            fill: $color-apricot;
            transform: rotate(0deg);
        }

        .delete-icon {
            transform: rotate(90deg);

            g {
                fill: $color-coral;
            }
        }
    }

    .arrow-icon {
        transform: rotate(180deg);
        display: block;
        width: 15px;
        margin: 5px;
        transition: all 0.2s ease-out;
    }

    .delete-icon {
        width: 23px;
        transition: all 0.2s ease-out;
    }

    img {
        width: 25px;
        margin-right: 3px;
    }
}
