@import '../../variables';

.file-details-container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;

    > * {
        margin: 15px;
    }
}

.details-container {
    text-align: left;
    display: flex;

    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .file-image {
        width: 215px;
        border-radius: 5px;
    }

    .type-icon {
        width: 20px;
        margin-right: 5px;
        vertical-align: middle;
    }

    .category-link {
        color: $color-dark;
        text-decoration: underline;
    }

    .main-info-container {
        position: relative;
        width: 100%;
    }

    .heart-icon {
        width: 50px;
        float: right;
        cursor: pointer;

        &:hover g,
        &.active g {
            fill: $color-coral;
        }
    }
}

.additional-info {
    img {
        width: 25px;
        vertical-align: middle;
    }
}

.episodes-container {
    .episodes {
        max-height: 435px;
        padding: 5px 15px 5px 3px;
        overflow-y: scroll;
    }

    .episode-container {
        cursor: pointer;
        justify-content: flex-start;
        width: 325px;
        margin: 10px 0;
        padding: 8px 15px;
        font-size: 16px;
        text-align: left;

        &:hover {
            background: #f4efe6;
        }
    }

    img {
        border-radius: 50%;
        display: block;
        margin: auto;
        width: 75px;
        margin: 0 5px 0 0;
    }
}

.listening-station-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.main-info-container {
    .title {
        color: $color-blueberry;
    }
}

@media (min-width: 768px) {
    .details-container {
        justify-content: flex-start;
        flex-wrap: nowrap;

        .file-image {
            margin-right: 40px;
            margin-top: 25px;
        }
    }

    .episodes-container {
        margin-right: 45px;

        .episode-container {
            width: 500px;
        }
    }

    .listening-station-container {
        align-items: flex-start;
        justify-content: space-between;
    }
}
