$color-blueberry: #6b7c8f;
$color-blueberry-rgba: #6b7c8f94;
$color-apricot: #f7892f;
$color-citrus: #fac231;
$color-citrus-light: #f7f1c1;
$color-apple-core: #dbc8a9;
$color-dark: #292929;
$color-coral: #fe533d;
$color-coral-light: #ffd7d2;
