@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');
@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
}

body {
    width: 100%;
    min-height: calc(100vh - 115px);
    overflow-x: auto;
    background: $color-apple-core;
}

::after,
::before {
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 115px); //header + footer height
    margin-top: 65px; //header height
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.ta-center {
    text-align: center;
}

.m-10 {
    margin: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.slide-in-left-enter {
    transform: translateX(-100%);
}

.slide-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.2s ease-out;
}

.slide-in-left-exit {
    transform: translateX(0%);
    opacity: 1;
}

.slide-in-left-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.2s ease-out;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

// *** Custom scroll styles *** //

/* Mozilla */
html,
div,
p {
    scrollbar-color: rgba(107, 124, 143, 0.7) transparent;
    scrollbar-width: thin;
}

/* Chrome based browsers */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: none;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(107, 124, 143, 0.6);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(107, 124, 143, 0.3);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

$small-lightblue-scrollbar-color: rgba(107, 124, 143, 0.5);

.small-lightblue-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #{$small-lightblue-scrollbar-color} transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #{$small-lightblue-scrollbar-color};
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background: #{$small-lightblue-scrollbar-color};
    }
}

$small-blue-scrollbar-color: rgba(107, 124, 143, 0.7);

.small-blue-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #{$small-blue-scrollbar-color} transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #{$small-blue-scrollbar-color};
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background: #{$small-blue-scrollbar-color};
    }
}
